header h1{
    text-align: center;
}

header h2{
    text-align: center;
}

main h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
}

article h3{
    text-align: center;
}

section h4{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

body{
    background-color: antiquewhite;
}

/* I wanted to do a lot more css for my portfolio page but I was having trouble figuring it all out. In the header container I wanted to make it so there was less space between h1 and h2. I also wanted to do a background color to make the header stick out but it would not fill all the way to the edges. Same with footer container*/
/*also when i tried using font-family to change the fonts for different text it was not working? i coould not figure out why*/
