body{
    background-color: antiquewhite;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: black;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    text-align: center;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    color: black;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 2%;
}

header{
    background-color: burlywood;
    margin: 0 auto;
    width: 64%;
    height: fit-content;
}

header h1{
    margin-bottom: 0;
}

header h2{
    margin-top: 0;
}

a:link{
    color: blue
}
a:visited{
    color: blueviolet
}
a:hover{
    color: darkgrey
}
a:active{
    color: aqua
}

.content{
    margin: 0 auto;
    width: 580px;
    padding-top: 2px;
    padding-bottom: 2px;
}

hr{
    color: burlywood;
}
/* I wanted to do a lot more css for my portfolio page but I was having trouble figuring it all out. In the header container I wanted to make it so there was less space between h1 and h2. I also wanted to do a background color to make the header stick out but it would not fill all the way to the edges. Same with footer container*/
/*also when i tried using font-family to change the fonts for different text it was not working? i coould not figure out why*/
